body {
  color: #9C9EFE;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem; /* 1em=16px e * || vai escalar se o parent tb tiver "em"*  "rem" doesnt get affected by upstream size changes */
  margin: 50px auto 0 auto; /*tambem podemos usar rem ou em for sizing mas é preferil usar px em certos casos*/
  font-family: 'Sacramento', cursive;
  line-height: 1; /*always specify, do not give any units*/
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; /*40px */
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: underline;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  text-decoration: none

}

.middle-container {
  margin: 0 0 0 0;
  background-image: url("../kmiles.jpg");
padding-top: 20px;
padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;


}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.skill-row {

  text-align: left;
  width: 50%;
  margin: 100px auto 200px auto /**metodo de centralizar com margin e usado para block elements com width definido*/
  /*era suposto ter text-align: left; mas usei o metodo inferior referido*/

}



.pro {
  text-decoration: underline;
}

.intro1{
  width: 30%;
  margin:auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
color: #EAF6F6;
font-size: 0.75em;
padding: 20px 0px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.computerimg {
width:25%;
float: left;
margin-right: 30px;
}
.kakashigif{
  width: 25%;
  float: right;
  margin-left: 30px;

}

.ogunpfp {
  width:320px;
  height:320px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
